@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/*POPUP*/
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 150%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: 0 0 -15px 258px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
    margin: 0 0 0 -180px;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
    
}

.contenedor-header header nav ul li {
    margin: 0 10px; 
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 10 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #4d5dee;
}


.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../img/fondo2.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 0.95rem;
    background-color: #1e2326;
    max-width: 350px;
    margin: 6.5rem auto 0.5rem;
    text-align: center;
    border-radius: 2rem;
}
@media screen and (max-width: 768px) {
    .inicio .contenido-banner {
        max-width: 350px; /* Puedes ajustar este valor según tus necesidades */
        margin: 8.5rem auto 0.5rem;
    }
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 50%;
}
.inicio .contenido-banner h1 {
    margin-top: 40px !important;
    font-size: 42px !important;
    font-family: 'Righteous' !important;
}

/* Desactivar estilos de Bootstrap para h2 */
.inicio .contenido-banner h2 {
    font-size: 15px !important;
    font-weight: normal !important;
}
.fondo-negro {
    background-color: black; /* Establece el color de fondo en negro */
    padding: 10px; /* Añade relleno alrededor del texto para que se vea mejor */
    display: inline-block; /* Permite que el fondo se aplique solo al área ocupada por el texto */
}
.botonCopiar{
    padding: 0.5rem;
    border: none;
    background-color: #1CB698;
    font-family: 'Righteous';
}
.botonCopiar:hover {
    background-color: #0c594a;
}
.inicio .contenido-banner h2 a {
    font-size: 15px !important;
    font-weight: normal !important;
}
.contenido-banner h2 a,
.inicio h2 a {
    /* Estilos para los enlaces dentro de h2 en contenido-banner y inicio */
    color: #1CB698; /* Color del texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-weight: bold; /* Peso de la fuente */
    /* Agrega otros estilos según tu diseño */
}

.contenido-banner h2 a:hover,
.inicio h2 a:hover {
    /* Estilos para cuando el cursor pasa sobre los enlaces */
    color: #FF6600; /* Cambia el color del texto al pasar el cursor */
    /* Agrega otros estilos según tu diseño */
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 8px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px !important;
    font-family: 'Righteous' !important;
    text-align: center !important;
    padding: 20px 0 !important;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
img.meme {
    width: 30rem; /* ajusta el ancho a 200 píxeles */
    height: auto; /* ajusta automáticamente la altura para mantener la proporción */
    border-radius: 1rem;
    
}

.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}


/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .fa-brands.fa-js {
    color: yellow;
    font-size: 30px; 
    text-shadow: 0 0 12px black;
}
.skills .skill .fa-brands.fa-html5 {
    color: orangered;
    font-size: 30px; 
    margin-right: 10px;
    text-shadow: 0 0 12px black;
}
.skills .skill .fa-brands.fa-css3-alt {
    color: rgb(56, 209, 236);
    font-size: 30px; 
    text-shadow: 0 0 12px black;
}
.skills .skill .fa-solid.fa-photo-film {
    color: rgb(236, 188, 56);
    font-size: 30px; 
    text-shadow: 0 0 12px black;
}
.skills .skill .fa-brands.fa-php {
    color: rgb(79, 93, 149);
    font-size: 35px; 
    text-shadow: 0 0 12px rgb(0, 0, 0);
}
.skills .skill .fa-solid.fa-c {
    color: rgb(0, 115, 150);
    font-size: 20px; 
    text-shadow: 0 0 12px rgb(0, 0, 0);
}
.skills .skill .fa-brands.fa-python {
    font-size: 30px; 
    background: linear-gradient(to right, rgb(0, 133, 173) 0%, rgb(0, 133, 173) 50%, yellow 50%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills .skill .fa-solid.fa-database {
    color: rgb(224, 189, 142);
    font-size: 30px; 
    
    
}


.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #22b5cf;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #0d5c81;;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .php{
    width: 0%;
    animation: 2s php forwards;
}
@keyframes php {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .c{
    width: 0%;
    animation: 2s c forwards;
}
@keyframes c {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .mysql{
    width: 0%;
    animation: 2s mysql forwards;
}
@keyframes mysql {
    0%{width: 0%;}
    100%{width: 67%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .autodidacta{
    width: 0%;
    animation: 2s autodidacta forwards;
}
@keyframes autodidacta {
    0%{width: 0%;}
    100%{width: 100%;}
}
/* SECCION CURRICULUM */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col {
    width: 100%; /* Cambia el ancho a 100% para que ocupe todo el espacio disponible */
    display: flex; /* Cambia el display a flex para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos dentro de la columna */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola línea */
}





.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    padding: 1rem;
    margin: auto;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px !important;
    margin-bottom: 10px !important;
}
.curriculum .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

.tabla {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: flex; /* Convertir la tabla en un contenedor flexible */
    align-items: flex-start; /* Alinear los elementos al principio del contenedor */
}

.tabla th, .tabla td {
    font-weight: normal;
    vertical-align: top;
    padding: 8px;
}

.tabla th {
    width: 30%; /* Ancho fijo para la celda de la imagen */
}

.tabla td {
    width: 70%; /* Ancho fijo para la celda del párrafo */
    padding-left: 20px; /* Espacio a la izquierda del párrafo para separarlo de la imagen */
}

.tabla img {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 50% del contenedor */
    margin-right: 20px; /* Agrega un margen a la derecha de la imagen para separarla del párrafo */
}




#carouselExampleIndicators.carousel.slide {
    @media (max-width: 1024rem) {
        width: 70rem; /* Ancho del carrusel */
        height: 50rem; /* Altura aumentada para alargar la imagen hacia abajo */
        padding-left: 2rem; /* Añade espacio a la izquierda */
        padding-right: 15rem; /* Añade espacio a la derecha */
        margin: 70px 209px; /* Centra el carrusel horizontalmente */
    }

    /* Otros estilos adicionales según tus necesidades */
    /* Media query para pantallas más pequeñas */
    @media only screen and (max-width: 1324px) {
        width: 90%; /* Ancho del carrusel para pantallas pequeñas */
        height: auto; /* Altura automática para adaptarse al contenido */
        padding-left: 1rem; /* Ajuste de espacio a la izquierda para pantallas pequeñas */
        padding-right: 1rem; /* Ajuste de espacio a la derecha para pantallas pequeñas */
        margin: 80px 20px; 
    }
}



.carousel-inner {
    height: 625px;
    margin: 0;
    /* ajusta la altura del carrusel */
}
@media only screen and (max-width: 767px) {
    .carousel-inner {
        width: 150%;
        
        margin: 0 0 -34rem 0;
        
        /* ajusta la altura del carrusel */
    }
}

.carousel-item img {
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    width: auto; /* Mantiene la proporción de la imagen */
}

@media only screen and (min-width: 1025px) {
    .carousel-control-prev {
        transform: translateY(-670%) translateX(-600%);
    }
    
    .carousel-control-next {
        transform: translateY(-802%) translateX(600%);
    }
}


@media only screen and (max-width: 568px) {
    .carousel-control-prev {
        transform: translateY(200%) translateX(-130%);
    }
    .carousel-control-next {
        transform: translateY(67%) translateX(130%);
    }
}

@media screen and (min-width: 569px) and (max-width: 1000px) {
    #oculto {
        display: none;
    }
}




.carousel-indicators{
    position: absolute;
    top: 50%;
    transform: translateY(60%) translateX(-106px);
    
    
}
@media only screen and (max-width: 1575px) {
    #carouselExampleIndicators .carousel-indicators {
        display: none;
    }
}

.modal-dialog {
    max-width: 90%; /* Ajusta el ancho máximo del modal */
}

.modal-content {
    width: 100%; /* Ajusta el ancho del contenido del modal */
    height: auto; /* Hace que la altura del contenido se ajuste automáticamente */
}
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body img {
    max-width: none; /* Elimina el ancho máximo de la imagen */
    max-height: 130vh; /* Altura máxima igual al de la ventana */
}
@media only screen and (max-width: 768px) {
    .modal-body img {
        max-width: 110%; /* Ajusta el ancho máximo para que ocupe todo el ancho disponible */
        max-height: 90vh; /* Reduzca la altura máxima para adaptarse mejor a la pantalla del móvil */
    }
}





.curriculum button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.curriculum button:hover .overlay{
    width: 100%;
}
.curriculum button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
a.button-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
}

/* SECCION PORTFOLIO */
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio .contenido-seccion p{
    text-align: center;

    span{
        color: yellow;
        background-color: #131517;
        border-radius: 0.5rem;
        padding: 0.5rem 0.5rem;
    }
}

.portfolio h2{
    font-size: 48px !important; 
    font-family: 'Righteous' !important;
    text-align: center !important;
    padding: 20px 0 !important;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto.destacado::after {
    content: "Destacado ★";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(10, 1, 1, 0.7); /* Fondo semi-transparente */
    padding: 0.5rem;
    border-radius: 5px;
    color: yellow;
}
.portfolio .galeria .proyecto.featured::after {
    content: "Featured ★";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(10, 1, 1, 0.7); /* Fondo semi-transparente */
    padding: 0.5rem;
    border-radius: 5px;
    color: yellow;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 100, 182, 0.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
    color: white;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
    color: white;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto{
    background-image: url(../img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px !important;
    font-family: 'Righteous' !important;
    text-align: center !important;
    padding: 20px 0 !important;
}
.contacto .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}

.contacto .mapa {
    height: 400px; /* ajusta la altura según tus preferencias */
    margin-top: 20px; /* ajusta el margen superior según tus preferencias */
    border: 1px solid #ffffff; /* añade un borde para visualizar el contenedor */
    position: relative; 
    z-index: 0;  /* establece la posición en el eje Z */
}


.contacto .col .info{
    position: absolute;
    top: -150%;
    background-color: #ffffff;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 480px) {
    .nav-responsive {
        transform: translateY(0%) translateX(-830%);
    }
}

@media screen and (min-width: 481px) and (max-width: 1000px) {
    .nav-responsive {
        transform: translateY(0%) translateX(-1500%);
    }
}

@media screen and (max-width: 1000px) {
    nav.responsive {
        transform: translateY(0%) translateX(-168%);
    }
}

@media screen and (min-width: 481px) and (max-width: 1000px) {
    nav.responsive {
        transform: translateY(-15%) translateX(-470%);
    }
}

@media screen and (max-width:1000px){
    .contenedor-header header {
        margin: 0; /* Quita el margen izquierdo */
    }
    
    .contenedor-header header .logo a {
        margin-left: 10px; /* Ajusta el margen izquierdo del logo */
    }
    
    .contenedor-header header nav ul {
        display: none; /* Oculta el menú de navegación principal */
    }
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

.sobremi .fila .col li {
    display: flex;
    align-items: center; /* Alinea verticalmente los íconos y el texto */
    padding: 5px 0; /* Añade espacio entre cada elemento de la lista */
    max-width: 90%; /* Limita el ancho máximo del texto */
    margin: 0 auto; /* Centra la lista en dispositivos móviles */
}

@media (max-width: 768px) {
    .sobremi .fila .col li {
        font-size: 14px; /* Reducir el tamaño del texto para dispositivos móviles */
        flex-wrap: wrap; /* Envuelve los elementos en dispositivos móviles si el contenido es demasiado largo */
    }
}

@media screen and (max-width:1000px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .sobremi .fila .col li .meme {
        max-width: 100%; /* Hacer que la imagen tenga un ancho máximo del 100% del contenedor */
        height: auto; /* Mantener la proporción de aspecto original */
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
